CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP32S3_REV_MIN_1=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_BONDS=1
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_NVS_PERSIST=y
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=560
CONFIG_BT_NIMBLE_GATT_MAX_PROCS=1
CONFIG_BT_NIMBLE_MAX_PERIODIC_SYNCS=1
CONFIG_BT_CTRL_BLE_MAX_ACT=2
CONFIG_BT_BLE_CCA_MODE_HW=y
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="esp32s3-wemos"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_SPIRAM_TYPE_ESPPSRAM16=y
CONFIG_SPIRAM_MODE_OCT=n
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="board/wemos-lolin-s3-mini/partitions.csv"
CONFIG_LWIP_LOCAL_HOSTNAME="esp32-wemos"
CONFIG_BSP_BOARD_TYPE_NAME="WEMOS Lolin S3 Mini"
CONFIG_BSP_FLASH_SIZE=4096
CONFIG_BSP_SPIRAM_SIZE=2048
CONFIG_BSP_LED_GPIO=47
CONFIG_BSP_LED_HAVE_LEDPIXEL=y
CONFIG_BSP_SPI2_DISPLAY_DC=2
CONFIG_BSP_SPI2_DISPLAY_BACKLIGHT=4
CONFIG_BSP_SPI3_DISPLAY_DC=21
CONFIG_BSP_SPI3_SCK=44
CONFIG_BSP_SPI3_MOSI=18
CONFIG_BSP_SPI3_MISO=43
CONFIG_BSP_SPI3_DISPLAY_BACKLIGHT=17
CONFIG_BSP_SPI3_DISPLAY_CS=16
CONFIG_BSP_I2C0_SDA=5
CONFIG_BSP_I2C0_SCL=6
CONFIG_BSP_I2C1_SDA=37
CONFIG_BSP_I2C1_SCL=38
