[submodule "components/esp32-common/esp32-common"]
	path = components/esp32-common/esp32-common
	url = git@github.com:eriksl/esp32-common.git
[submodule "components/magic_enum/magic_enum"]
	path = components/magic_enum/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "components/libspng/libspng"]
	path = components/libspng/libspng
	url = https://github.com/randy408/libspng.git
