config BUILD_NETPERF_CODE
	prompt "Include network performance testing code in the build"
	help
		Include code that creates extra threads for network speed testing. If in doubt, select N.
	bool
	default n

menu "BSP - do not change, set automically, when invoked using script idf"

	config BSP_BOARD_TYPE_NAME
		string "Board type name"

	config BSP_FLASH_SIZE
		int "FLASH size"

	config BSP_SPIRAM_SIZE
		int "SPIRAM size"

	config BSP_LED_HAVE_LED
		bool "Notification LED available?"

	config BSP_LED_HAVE_LEDPIXEL
		bool "Notification LEDpixel available?"

	config BSP_LED_GPIO
		int "GPIO LED is connected to"

	config BSP_SPI2_DISPLAY_DC
		int "GPIO used for D/C of display on SPI2"

	config BSP_SPI2_DISPLAY_BACKLIGHT
		int "GPIO used for backlight control of display on SPI2"

	config BSP_SPI3_DISPLAY_DC
		int "GPIO used for D/C of display on SPI3"

	config BSP_SPI3_DISPLAY_BACKLIGHT
		int "GPIO used for backlight control of display on SPI3"

	config BSP_SPI3_DISPLAY_CS
		int "GPIO used for SPI3 CS of display on SPI3"

	config BSP_SPI3_SCK
		int "GPIO used for SPI3 SCK"

	config BSP_SPI3_MOSI
		int "GPIO used for SPI3 MOSI"

	config BSP_SPI3_MISO
		int "GPIO used for SPI3 MISO"

	config BSP_I2C0_SDA
		int "GPIO used for SDA on first I2C module"

	config BSP_I2C0_SCL
		int "GPIO used for SCL on first I2C module"

	config BSP_I2C0_INT
		int "GPIO used for INT on first I2C module"

	config BSP_I2C1_SDA
		int "GPIO used for SDA on second I2C module"

	config BSP_I2C1_SCL
		int "GPIO used for SCL on second I2C module"

	config BSP_I2C1_INT
		int "GPIO used for INT on second I2C module"
endmenu
