config BUILD_NETPERF_CODE
	prompt "Include network performance testing code in the build"
	help
		Include code that creates extra threads for network speed testing. If in doubt, select N.
	bool
	default n

menu "BSP - do not change, set automically, change symlink to sdkconfig.defaults"

	config BSP_BOARD_TYPE_NAME
		string "Board type name"

	config BSP_FLASH_SIZE
		int "FLASH size"

	config BSP_SPIRAM_SIZE
		int "SPIRAM size"

	config BSP_LED_TYPE
		string "Ledpixel type"

	config BSP_LED_GPIO
		int "GPIO led is connected to"

	config BSP_LED_HAVE_LEDPIXEL
		bool "Ledpixel available?"
endmenu
