CONFIG_BSP_BOARD_TYPE_NAME="Espressif S3 Box3"
CONFIG_BSP_FLASH_SIZE=16384
CONFIG_BSP_I2C0_SCL=18
CONFIG_BSP_I2C0_SDA=8
CONFIG_BSP_I2C1_SCL=40
CONFIG_BSP_I2C1_SDA=41
CONFIG_BSP_I2C2_SCL=-1
CONFIG_BSP_I2C2_SDA=-1
CONFIG_BSP_LEDPIXEL0=-1
CONFIG_BSP_LEDPIXEL1=39
CONFIG_BSP_LEDPIXEL2=-1
CONFIG_BSP_LEDPIXEL3=-1
CONFIG_BSP_LEDPWM0=-1
CONFIG_BSP_LEDPWM1=14
CONFIG_BSP_LEDPWM2=47
CONFIG_BSP_LEDPWM3=-1
CONFIG_BSP_MCPWM0=38
CONFIG_BSP_MCPWM1=45
CONFIG_BSP_MCPWM2=-1
CONFIG_BSP_MCPWM3=-1
CONFIG_BSP_PCINT=42
CONFIG_BSP_PDM0=-1
CONFIG_BSP_PDM1=-1
CONFIG_BSP_PDM2=-1
CONFIG_BSP_PDM3=-1
CONFIG_BSP_SPI2_DISPLAY_DC=9
CONFIG_BSP_SPI3_DISPLAY_CS=5
CONFIG_BSP_SPI3_DISPLAY_DC=4
CONFIG_BSP_SPI3_MISO=21
CONFIG_BSP_SPI3_MOSI=6
CONFIG_BSP_SPI3_SCK=7
CONFIG_BSP_SPIRAM_SIZE=16384
CONFIG_BSP_UART_RXD=44
CONFIG_BSP_UART_TXD=43
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_LWIP_LOCAL_HOSTNAME="esp32-box3"
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="board/espressif-s3-box3/partitions.csv"
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
