CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP32S3_REV_MIN_1=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_BONDS=1
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_NVS_PERSIST=y
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=560
CONFIG_BT_NIMBLE_GATT_MAX_PROCS=1
CONFIG_BT_NIMBLE_MAX_PERIODIC_SYNCS=1
CONFIG_BT_CTRL_BLE_MAX_ACT=2
CONFIG_BT_BLE_CCA_MODE_HW=y
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="esp32s3-box3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="board/espressif-s3-box3/partitions.csv"
CONFIG_LWIP_LOCAL_HOSTNAME="esp32-box3"
CONFIG_BSP_BOARD_TYPE_NAME="Espressif S3 Box3"
CONFIG_BSP_FLASH_SIZE=16384
CONFIG_BSP_SPIRAM_SIZE=16384
CONFIG_BSP_SPI2_DISPLAY_DC=9
CONFIG_BSP_SPI3_DISPLAY_DC=4
CONFIG_BSP_SPI3_SCK=7
CONFIG_BSP_SPI3_MOSI=6
CONFIG_BSP_SPI3_MISO=21
CONFIG_BSP_SPI3_DISPLAY_CS=5
CONFIG_BSP_I2C0_SDA=8
CONFIG_BSP_I2C0_SCL=18
CONFIG_BSP_I2C1_SDA=41
CONFIG_BSP_I2C1_SCL=40
CONFIG_BSP_MCPWM0=38
CONFIG_BSP_MCPWM1=45
CONFIG_BSP_MCPWM2=-1
CONFIG_BSP_MCPWM3=-1
CONFIG_BSP_LEDPWM0=-1
CONFIG_BSP_LEDPWM1=14
CONFIG_BSP_LEDPWM2=47
CONFIG_BSP_LEDPWM3=-1
CONFIG_BSP_PDM0=-1
CONFIG_BSP_PDM1=-1
CONFIG_BSP_PDM2=-1
CONFIG_BSP_PDM3=-1
CONFIG_BSP_LEDPIXEL0=-1
CONFIG_BSP_LEDPIXEL1=39
CONFIG_BSP_LEDPIXEL2=-1
CONFIG_BSP_LEDPIXEL3=-1
CONFIG_BSP_UART_TXD=43
CONFIG_BSP_UART_RXD=44
CONFIG_BSP_PCINT=42
