CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP32S3_REV_MIN_1=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_BONDS=1
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_NVS_PERSIST=y
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=560
CONFIG_BT_NIMBLE_GATT_MAX_PROCS=1
CONFIG_BT_NIMBLE_MAX_PERIODIC_SYNCS=1
CONFIG_BT_CTRL_BLE_MAX_ACT=2
CONFIG_BT_BLE_CCA_MODE_HW=y
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="esp32s3-lilygo"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM_TYPE_ESPPSRAM64=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="board/lilygo-t7-s3/partitions.csv"
CONFIG_LWIP_LOCAL_HOSTNAME="esp32-lilygo"
CONFIG_BSP_BOARD_TYPE_NAME="LilyGO T7 S3"
CONFIG_BSP_FLASH_SIZE=16384
CONFIG_BSP_SPIRAM_SIZE=8192
CONFIG_BSP_LED_GPIO=17
CONFIG_BSP_LED_HAVE_LED=y
CONFIG_BSP_SPI2_DISPLAY_DC=38
CONFIG_BSP_SPI3_DISPLAY_DC=21
CONFIG_BSP_SPI3_SCK=46
CONFIG_BSP_SPI3_MOSI=47
CONFIG_BSP_SPI3_MISO=45
CONFIG_BSP_SPI3_DISPLAY_CS=48
CONFIG_BSP_I2C0_SDA=15
CONFIG_BSP_I2C0_SCL=16
CONFIG_BSP_I2C1_SDA=6
CONFIG_BSP_I2C1_SCL=7
CONFIG_BSP_PWM0=5
CONFIG_BSP_PWM1=39
CONFIG_BSP_PWM2=40
CONFIG_BSP_PWM3=41
CONFIG_BSP_LEDPWM0=17
CONFIG_BSP_LEDPWM1=4
CONFIG_BSP_LEDPWM2=42
CONFIG_BSP_LEDPWM3=41
CONFIG_BSP_PDM0=1
CONFIG_BSP_PDM1=-1
CONFIG_BSP_PDM2=-1
CONFIG_BSP_PDM3=-1
